@font-face {
    font-family: 'Roboto';
    src: url('roboto.eot'); /* IE9 Compat Modes */
    src: url('roboto.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('roboto.woff') format('woff'), /* Modern Browsers */
    url('roboto.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('roboto.svg#svgFontName') format('svg'); /* Legacy iOS */
  }

  body {
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    margin: auto;
    // background-color: #171516;
    background-image: linear-gradient(rgb(21, 20, 20),#272427 )
  }  
  
  header {
    background-color: rgba(0, 0, 0, 0.77);
    width: 100%;
    height: 65px;
    padding: 0 0px 0 0px;
    display: flex;
    position: fixed;
    align-items:center;
    justify-content: space-between;
    
    h1 {
    
    color: #5855D1;
    font-size: 80%;
    margin-left: 1%;
    }

    .header_menu {
        color: white;
        margin-right: 2%;
        font-size: 50%;
        font-weight: 100;
        display: flex;
        justify-content: space-between;
        width: 18%;

        a:hover {
            color: rgb(220, 220, 220);
            
        }
    }
  }

  #best_movie_section {
    height: 85%;
    width: 100%;
    margin: auto;
    margin-bottom: -10rem;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #best_movie {
    height: 100%;
    width: 100%;
    background-color: (#2b232b7a);
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  #best_movie_content {
    padding-left: 15px;

    .best_movie_content--title {
    color: aliceblue;
    font-size: 50px;
  }

  .best_movie_content--resume {
    font-size: 20px;
    color: aliceblue;
  }
  .best_movie_content--actors {
    display: flex;
    flex-direction: row;
  }
  .best_movie_content--actor {
    font-size: 11px;
    color: aliceblue;
  }
  }


.categories-title {
  color: aliceblue;
  font-size: 50%;
  font-weight: lighter;
  margin-left: 150px;
}
.cat_list {
  width: 80%;
  overflow-x: auto ;
  -ms-overflow-style: none;
  scrollbar-width: none;  
  // margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 250px;
  // background-color: blue;
}

.cat_list::-webkit-scrollbar {
display: none;
}

.cat_list_element{
  width: 100%;
}
.cat_list-movie {
  width: 250px;
  height: 145px;
  margin-right: 10px;
  transition: 0.5s;
  .movie_img {
    width: 100%;
    height: 100%;
    margin-right: 10px;
    object-fit:cover;
  }

}

.cat_list-movie:hover {
  width: 300px;
  height: 190px;
}

.previus_slide, .next_slide {
  width: 30px;
  height: 150px;
}

.most_popular_slider {
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: center;
}